<div class="info">
    <p-card header="HopeCare" [style]="{'width':'500px','height':'430px','margin-top':'10%','margin-right':'20%'}">
        <span >
            Welcome to our Hospital App! We are dedicated to providing exceptional healthcare services and ensuring the well-being of our patients. With our advanced medical facilities and a team of skilled healthcare professionals, we strive to deliver top-quality care in a compassionate and efficient manner.
           <br><br> Our Hospital App offers a range of convenient features to enhance your healthcare experience. Through our app, you can easily schedule appointments, access your medical records, receive important notifications, and communicate with your healthcare providers. Stay connected with our hospital and take control of your health right from your fingertips.
           <br><br> At our hospital, we offer a comprehensive range of medical services, including preventive care, diagnostic tests, specialized treatments, surgeries, and rehabilitation programs. Our team of experienced doctors, nurses, and support staff are committed to delivering personalized care tailored to your unique needs.
        </span>
    </p-card>
</div>
