<br><br><br><br>
<div class="grid classCenter">
  <form  [formGroup]="myform" (ngSubmit)="onSubmit()">
         <p-card header="FORGOT PASSWORD" [style]="{ width: '360px','background-color':'#AEE2FF'}"><br>
           <div class="grid">
             <div class="col-12">
               <label for="Email" >Email ID</label><br>
              <input type="text" placeholder=" Email ID" formControlName="email" pInputText [style]="{width:'300px'}" required pattern="[a-zA-Z0-9._%+-]+@gmail\.com$"/><br><br>
              <div *ngIf="myform.controls.email.invalid && (myform.controls.email.dirty || myform.controls.email.touched)">
                <div *ngIf="myform.controls.email.errors.required" style="color: red;">Email is required.</div>
                <div *ngIf="myform.get('email').hasError('pattern')" style="color: red;" >Please enter a valid Gmail address (e.g., example@email.com)</div>
                <div *ngIf="myform.controls.email.errors.email">Invalid email format.</div>
              </div>
               </div>
              <div class="col-12">
              <label for="Password" >Create New Password</label><br>
              <input type="password" placeholder="Password" formControlName="pPassword" pInputText [style]="{width:'300px'}"  required pattern="[a-zA-Z0-9._%+!@#$&*-]{8,20}" required /><br><br>
              <div *ngIf="myform.controls.pPassword.invalid && (myform.controls.pPassword.dirty || myform.controls.pPassword.touched)">
                <div *ngIf="myform.controls.pPassword.errors.required" style="color: red;">Password is required.</div>
                <div *ngIf="myform.controls.pPassword.errors.pPassword">Invalid Password</div>
              </div>
              </div>
              <div class="col-12">
                  <label for="CPassword" >Confirm Password</label><br>
                  <input type="password" placeholder="ConfirmPassword" formControlName="cpwd" pInputText [style]="{width:'300px'}" /><br><br>
                  <div *ngIf="myform.controls.cpwd.invalid && (myform.controls.pPassword.dirty || myform.controls.pPassword.touched)">
                    <div *ngIf="myform.controls.cpwd.errors.required" style="color: red;">Password is required.</div>
                    <div *ngIf="myform.controls.cpwd.errors.cpwd">Invalid Password</div>
                    <div *ngIf="myform.controls.cpwd.value !== myform.controls.pwd.value" style="color: red;">Password and Confirm Password didn't match.</div>
                    </div>
                  </div>
                  <p-button type="submit"  [style]="{width:'300px'}"  [disabled]="myform.controls.cpwd.value !== myform.controls.pPassword.value">Submit</p-button>
              </div>
              <br>
<div class="grid3">
       <div class="col-5">
         Not a member?<a id="r" href="/main/login"> Register </a>
       </div>
       <br>
          <div class="col-6">
            <a id="fp" routerLink="//main/login">Login again?</a>
        </div>
</div>
</p-card>
</form>
</div> 