
.classCenter{
    margin-top: -25%;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    display: flex;
    /* width: 250px; */
    height: 100px;
    margin-left:60%;
}
.button{
    width:200px;
}

.grid3{
    display: flex;
}
.col-6{
    font-size: 12px;
    margin-left:20% ;
}
.col-5{
    font-size: 12px;
    display: flex;
    flex-direction: row;
}
#r{
    text-decoration: none;
}
#fp{
    text-decoration: none;

}


label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="password"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .validation-error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }