/* You can add global styles to this file, and also import other style files */
.p-lts-message {
    animation: none;
  }
 
marquee{
  display: none;  
  color: aliceblue;
}
@import "primeicons/primeicons.css";